#projects {
    margin-left: 2vw;

    .euiCard {
        background-color: transparent;
        .emoji {
            width: 45px;
        }

        .highlighted {
            color: #006BB4;
            font-weight: bold;
        }
    }
}