#contact-and-hobbies {
    margin-top: 64px;

    .euiText {
        line-height: 28px;
    }

    .emoji {
        width: 20px !important;
        margin-bottom: 0;
        margin-right: 5px;
        display: inline;
    }
}